<div class="experiences">
  <div class="experience">

  </div>
  <div class="items">
    <div class="item">
      <div class="item_key">
        <div class="item_date">

        </div>
        <div class="item_point">

        </div>
      </div>
      <div class="item_value">
        <div class="item_name">

        </div>
        <div class="item_description">

        </div>
      </div>
    </div>
  </div>
</div>
